/*::::CARTA*/

main{
    display: flex;
    flex-direction: column;
    padding: 0px;
    .card-carta{
        box-shadow: 0 0 20px;
    }
    .imagen{
        height: 100%;
        width: 100%;
        padding: 10px;
        }
}
.imagent-carta{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

@media (min-width: 480px) and (max-width:820px){
    main section div .texto{
        display: none;
    }
}