/*::::CONTACTANOS*/
main{
    .ubicación{
        margin: 10px;
        display: flex;
        justify-content: center;
    }
    .mapa{
        display: flex;
        justify-content: center;
        margin: 10px;
    }
}

@media(max-width:668px){
    main section .formulario{
        display: flex;
        flex-direction: column;
    }
    .d-flex{
        display: flex;
        flex-direction: column;
    }
}