/*generales*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comme', sans-serif;
font-family: 'Roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css2? family=Roboto:ital@1&display=swap');

